# Ignorar carpetas de compilación local (CRÍTICO)
bin/
obj/

# Ignorar metadatos de Git
.git
.gitignore

# Ignorar configuraciones de editores
.vs/
.vscode/
*.user

# Ignorar archivos de Docker
Dockerfile*
docker-compose*
.dockerignore

# Ignorar archivos temporales o de base de datos local
*.db
*.log

# NO IGNORAR archivos de configuración necesarios para el runtime
# (Asegúrate de que appsettings.json y appsettings.Production.json SI se suban)
!appsettings.json
!appsettings.Production.json